/Codigo/Restaurante/Core/bin
/Codigo/Restaurante/Core/obj
/Codigo/Restaurante/RestauranteWeb/obj
/Codigo/Restaurante/RestauranteWeb/bin
/Codigo/Restaurante/.vs
/Codigo/Restaurante/Service/bin
/Codigo/Restaurante/Service/obj
/Codigo/Restaurante/RestauranteAPI/obj/Debug/net8.0
/Codigo/Restaurante/RestauranteAPI/bin/Debug/net8.0
/Codigo/Restaurante/RestauranteAPI/obj
