@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    

    <p>Confira nossos <a asp-controller="Tiporestaurante" asp-action="Index">Tipos de Restaurante</a>.</p>
    <p>Confira nossas <a asp-controller="Funcaofuncionario" asp-action="Index">Funções dos funcionarios</a>.</p>
    <p>Confira nossos <a asp-controller="Grupocardapio" asp-action="Index">Grupos de Cardapio</a>.</p>
    <p>Confira nossos <a asp-controller="Restaurante" asp-action="Index">Restaurantes</a>.</p>



</div>
