@model RestauranteWeb.Models.AtendimentoViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="card-header detalhe-header">
    <h2 class="mb-0">Cadastrar Atendimento</h2>
</div>
<div class="row page-form">
    <div class="col-md-12">
        <form asp-action="Create" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-group col-12 col-md-6">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="ViewBag.StatusList">
                    <option value="">Selecione...</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group form-group col-12 col-md-6">
                <label asp-for="IdMesa" class="control-label"></label>
                    <select asp-for="IdMesa" class="form-control" asp-items="@Model.ListaMesas">
                        @if(Model.ListaMesas == null || !Model.ListaMesas.Any())
                        {
                            <option value="">Mesas esgotadas</option>
                        }
                        else
                        {
                            <option value="">Selecione a mesa...</option>
                        }
                    </select>
                <span asp-validation-for="IdMesa" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-top: 10px;">
                <button type="submit" class="btn btn-primary">
                    Salvar
                </button>
                <a asp-action="Index" class="btn btn-secondary">
                    Voltar
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
