@model RestauranteWeb.Models.AtendimentoViewModel

@{
    ViewData["Title"] = "FinalizarAtendimento";
}

<h1>FinalizarAtendimento</h1>

<h4>AtendimentoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FinalizarAtendimento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraInicio" class="control-label"></label>
                <input asp-for="DataHoraInicio" class="form-control" />
                <span asp-validation-for="DataHoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraFim" class="control-label"></label>
                <input asp-for="DataHoraFim" class="form-control" />
                <span asp-validation-for="DataHoraFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalConta" class="control-label"></label>
                <input asp-for="TotalConta" class="form-control" />
                <span asp-validation-for="TotalConta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalServico" class="control-label"></label>
                <input asp-for="TotalServico" class="form-control" />
                <span asp-validation-for="TotalServico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalDesconto" class="control-label"></label>
                <input asp-for="TotalDesconto" class="form-control" />
                <span asp-validation-for="TotalDesconto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMesa" class="control-label"></label>
                <input asp-for="IdMesa" class="form-control" />
                <span asp-validation-for="IdMesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
