@model RestauranteWeb.Models.GrupocardapioViewModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Id)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Id)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Nome)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Nome)</dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model?.Id" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>